

@media (max-width: 601px) {
    .headerMenu {
        display: none;
    }
}
@media (min-width: 600px) {
    .iconMenu {
        display: none;
    }
}
textarea,input,input[type] {
    border-color: none; 
    background-color: rgb(240, 240, 240) !important;
}
textarea,input,input[type]:hover {
    border-color: #7BBCB0;
    background-color: rgb(240, 240, 240) !important;
}
textarea,input,input[type]:focus {
    border-color: #7BBCB0;
    background-color: rgb(240, 240, 240) !important;
}
textarea,input,input[type]:after {
    border-color: #7BBCB0;
    background-color: rgb(240, 240, 240) !important;
}
.ant-input-affix-wrapper {
    background-color: rgb(240, 240, 240) !important;
    padding: 4px 10px !important;
}
.bg_color{
    background-color: #7BBCB0;
    color:white;
    border-radius: 3px;
}
.button_style{
    background-color: #7BBCB0;
    color: white;
    border-radius: 3px;
}
.button_link_style {
    color:#7BBCB0;
    text-decoration: underline;
}
.card_bg{
    margin:20px 0;
    padding : 20px 20px ;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #888888;
}