

@media (max-width: 601px) {
    .headerMenu {
        display: none;
    }
}
@media (min-width: 600px) {
    .iconMenu {
        display: none;
    }
}
.bg_color{
    background-color: #7BBCB0;
    color:white;
}